@layer back-to-the-future-doodle {
	back-to-the-future-doodle-wrapper {
		display: block;
		perspective: 750px;
		margin: 10rem auto auto;
	}

	back-to-the-future-doodle {
		display: block;
		margin: auto;
		transform: rotateY(30deg);

		:where(h1, h2, h3, h4) {
			white-space: nowrap;
		}

		h1,
		h4 {
			font-family: "Six Caps";
			font-weight: normal;
			font-size: 7rem;
			color: #fff;
			text-shadow: 5px 3px 2px rgba(0, 0, 0, 0.3);
			letter-spacing: 1px;
			margin: 0;
		}

		h1 {
			margin: 0;
			transform: skewX(15deg);
		}

		h2,
		h3 {
			margin: 0;

			font-family: "Back to the Future", sans-serif;
			line-height: 1.2;

			-webkit-text-stroke: 3px #ccc;
			-webkit-text-fill-color: transparent;

			background: linear-gradient(#b01c1c 30%, #f5d833 70%);
			background-clip: text;
		}

		h2 {
			font-size: 13rem;
			transform: skewX(8deg);
		}

		h3 {
			margin-top: -2rem;
			font-size: 15rem;
			transform: skewX(-10deg);

			small {
				font-size: 5rem;
				vertical-align: middle;
			}
		}

		h4 {
			margin-top: -3rem;
			transform: skewX(-10deg);
		}
	}

	.present {
		back-to-the-future-doodle {
			opacity: 1;

			h2 {
				transform: skewX(8deg);
				opacity: 1;
			}

			h3 {
				opacity: 1;
			}
		}
	}
}
